In [1]:
import pandas as pd
import numpy as np

DATA_ROOT = "../data/mfeat/"
X_i = {"mfeat-" + x: None for x in ["fou", "fac", "kar", "mor", "pix", "zer"]}

## Description for data

FOU: 76 features

FAC: 216 features

KAR: 64 features

PIX: 240 features

ZER: 47 features

MOR: 6 features

In [2]:
for k, _ in X_i.items():
    X_i[k] = pd.read_csv(DATA_ROOT + k, header=None, delim_whitespace=True)
    print(f"Original -> {k}: {X_i[k].shape}")

Original -> mfeat-fou: (2000, 76)
Original -> mfeat-fac: (2000, 216)
Original -> mfeat-kar: (2000, 64)
Original -> mfeat-mor: (2000, 6)
Original -> mfeat-pix: (2000, 240)
Original -> mfeat-zer: (2000, 47)

In [3]:
# label set is sequential of elements from 0 to 9 each with 200
label = np.repeat(range(10), 200)
print(label.shape)
label

(2000,)

array([0, 0, 0, ..., 9, 9, 9])

In [32]:
import pandas as pd
import numpy as np

DATA_ROOT = "../data/ad-dataset/"

In [33]:
names = DATA_ROOT + 'ad.names'

f = open(names, 'r')
temp = []
         
while True:
    line = f.readline()
    if not line: break
         
    temp.append(line)
         
f.close()

In [34]:
columns = []

In [35]:
for l in temp:
    if ":" in l:
        columns.append(l.split(":")[0])

In [40]:
columns.append("label")

In [57]:
df = pd.read_csv(DATA_ROOT + "ad.data", header=None, delimiter=',')
df

C:\Users\admin\AppData\Local\Temp\ipykernel_14288\3601413724.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(DATA_ROOT + "ad.data", header=None, delimiter=',')

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,170,94,0.5529,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3275,101,140,1.3861,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3276,23,120,5.2173,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3277,?,?,?,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3278,40,40,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.

In [58]:
df.columns = columns
df

,height,width,aratio,local,url*images+buttons,url*likesbooks.com,url*www.slake.com,url*hydrogeologist,url*oso,url*media,...,caption*home,caption*my,caption*your,caption*in,caption*bytes,caption*here,caption*click,caption*for,caption*you,label
0,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,170,94,0.5529,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3275,101,140,1.3861,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3276,23,120,5.2173,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3277,?,?,?,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3278,40,40,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.

In [59]:
dropped = df.drop(columns[:4], axis=1)
dropped

,url*images+buttons,url*likesbooks.com,url*www.slake.com,url*hydrogeologist,url*oso,url*media,url*peace+images,url*blipverts,url*tkaine+kats,url*labyrinth,...,caption*home,caption*my,caption*your,caption*in,caption*bytes,caption*here,caption*click,caption*for,caption*you,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3275,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3276,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3277,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3278,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.

In [61]:
contaminated = []

for c in dropped.columns:
    try:
        dropped.loc[:, c].astype(np.int32)
        
    except:
        contaminated.append(c)

In [62]:
contaminated

['label']

In [65]:
Y = dropped['label']
Y

0          ad.
1          ad.
2          ad.
3          ad.
4          ad.
         ...
3274    nonad.
3275    nonad.
3276    nonad.
3277    nonad.
3278    nonad.
Name: label, Length: 3279, dtype: object

In [89]:
Y = Y.replace({"ad.": 1, "nonad.": 0})
Y = pd.get_dummies(Y)
Y

      0  1
0     0  1
1     0  1
2     0  1
3     0  1
4     0  1
...  .. ..
3274  1  0
3275  1  0
3276  1  0
3277  1  0
3278  1  0

[3279 rows x 2 columns]

In [90]:
np.savetxt(DATA_ROOT + 'Y.csv', Y.to_numpy(), delimiter=',')

In [78]:
view_dim = [457, 495, 472, 111,19]
view = []
prev = 0

for d in view_dim:
    view.append(dropped.iloc[:, prev:prev+d].copy(deep=True))
    prev += d

In [88]:
for i, v in enumerate(view):
    print(v.shape)
    np.savetxt(DATA_ROOT + f'{i}.csv', view[0].to_numpy(), delimiter=',')

(3279, 457)
(3279, 495)
(3279, 472)
(3279, 111)
(3279, 19)